<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="test1">
  <test thread-count="5" name="Test1">
    <classes>
      <class name="a13_TestNG_Keywords.A4_dependsOnMethod"/>
      <class name="a13_TestNG_Keywords.A3_Invocation_count"/>
      <class name="a12_TestNG.BaseTest"/>
      <class name="a12_TestNG.A2_test2"/>
      <class name="a13_TestNG_Keywords.A1_Priority"/>
      <class name="a13_TestNG_Keywords.A2_Enable_False"/>
      <class name="a12_TestNG.B1_test1"/>
      <class name="a12_TestNG.A1_test1"/>
    </classes>
  </test> <!-- Test1 -->
</suite> <!-- test1 -->
